<h1 class="mb-5">cart</h1>
<!-- @for (item of sharedService.getitem(); track item.id) {
<div class="cart-item">
    <img [src]="item.image" alt="">
    <h2>{{item.name}}</h2>
    <h2>{{item.price}}</h2>
    <p>quantity:{{item.quantity}}</p>
    <button (click)="deletefromcart(item)">delete</button>
    <button (click)="sharedService.incrementQuantity(item.id)">+</button>
    <button (click)="sharedService.decrementQuantity(item.id)">-</button>
</div>
}
<p>Total: {{sharedService.gettotal()}}</p>

<h1>//////////////////////////////////////</h1> -->
<div class="row w-100">
    <h3 class="col-4">Description</h3>
    <h3 class="col-3">quantity</h3>
    <h3 class="col-2">Remove</h3>
    <h3 class="col-2">price</h3>
</div>
<hr> @for (item of sharedService.getitem(); track item.id) {
<div class="cart-item">

    <div class="row w-100">
        <div class="col-4"> <img [src]="item.image" alt="">
            <h2>{{item.name}}</h2>
        </div>
        <div class="col-3">
            <button class=" inddebtn" (click)="sharedService.incrementQuantity(item.id)">+</button>
            <p class=" qulbtn">quantity:{{item.quantity}}</p>

            <button class=" inddebtn" (click)="sharedService.decrementQuantity(item.id)">-</button>
        </div>
        <div class="col-2">
            <button class="delbtn" (click)="deletefromcart(item)">x</button>
        </div>
        <div class="col-2">
            <h3 class="col-2">{{item.price}}$</h3>
        </div>

    </div>
    <div class="row w-100">
        <div class="col-5">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">

        </div>

    </div>

    <hr>

</div>
}
<div class=" col-2 total">

    <p>Total: {{sharedService.gettotal()}}</p>
</div>