<app-headertwo>
</app-headertwo>

<h1 class="mb-5 mt-3">cart</h1>

<div class="row w-100">
    <h3 class="col-4">Description</h3>
    <h3 class="col-3">quantity</h3>
    <h3 class="col-2">Remove</h3>
    <h3 class="col-2">price</h3>
</div>
<hr> @for (item of sharedService.getitem(); track item.id) {
<div class="cart-item">

    <div class="row w-100">
        <div class="col-4"> <img [src]="item.image" alt="">
            <h2>{{item.name}}</h2>
        </div>
        <div class="col-3">
            <button style="margin-right: 20px;" class=" inddebtn" (click)="sharedService.incrementQuantity(item.id)" (click)="increse()">+</button>

            <button class=" inddebtn" (click)="sharedService.decrementQuantity(item.id)" (click)="decrese()">-</button>
        </div>
        <div class="col-2">
            <button class="delbtn" (click)="deletefromcart(item)">x</button>
        </div>
        <div class="col-2">
            <h3 class="col-2">{{item.price}}$</h3>
        </div>

    </div>
    <div class="row w-100">
        <div class="col-5">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2">
        </div>
        <div class="col-2 ">

        </div>

    </div>

    <hr>

</div>
}
<div class=" col-2 total">

    <p>Total: {{sharedService.gettotal()}}</p>
</div>