nav {
    background-color: rgb(151, 79, 219);
    color: white;
    margin-bottom: 50px;
    width: 1535px;
    margin-left: -120px;
    height: 70px;
}

.imglogo {
    width: 100px;
    display: inline-block;
    border-radius: 70px;
}

.logo {
    width: 60px;
    display: inline-block;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
    margin-top: -4%;
}

li {
    cursor: pointer;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

#cartCount {
    margin-top: -10px;
    position: absolute;
}

li {
    margin-right: 10px;
}