<nav>
    <div class="container">
        <div class="content">
            <img class="imglogo" src="/assets/30523865-6570ac613bb77.jpg">
            <h2 class="logo">Market</h2>
            <ul>

                <li routerLink="/prodects">Products</li>
                <li><img style="width: 20px;" src="/assets/grocery-store.png" routerLink="/carts">
                    <span id="cartCount">{{counter}}</span>
                </li>


            </ul>
        </div>
    </div>
</nav>